.footer-error {
    z-index: 1;
    position: fixed;
    bottom: -5px;
    padding-left: 10px;
    padding-top: 10px;
    content: '';
    transition: all 0.5s;
    color: white;
    font-style: bolt;
    background: rgb(246 80 70);
    text-align: center;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    opacity: 1;
}

.hide {
    opacity: 0;
    bottom: -25px;
}